{% extends 'base.html.twig' %}
{% block body %}
    
   
    {% if app.user %}
        <a href="{{ path('app_logout') }}">Выйти</a>

    {% else %}
        <a href="{{ path('app_login') }}">Войти</a>
        <br>
    <a href="{{ path('registration') }}">Регистрация</a>
    {% endif %}
{% endblock %}
